body {
    padding: 30px;
}
h1 {
    margin: 3px 10px 5px 4px;
    padding: 0px;
    line-height: 28.8px;
    min-height: 0px;
    color: rgb(213, 80, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}
h2 {
    margin: 20px 10px 5px 4px;
    padding: 0px;
    line-height: 20px;
    min-height: 0px;
    color: rgb(60, 60, 60);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
h3 {
    margin: 3px 10px 5px 4px;
    padding: 0px;
    line-height: 18px;
    min-height: 0px;
    color: rgb(60, 60, 60);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 17px;
    font-weight: 700;
    text-align: left;
}

p {
    margin: 2px 10px 9px 4px;
    padding: 0px;
    line-height: 20px;
    min-height: 0px;
    color: rgb(0, 0, 0);
    font-family: Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
a {
    color: rgb(0,118,168);
    text-decoration: none;
}
a:hover {
    color: rgb(0,75,135);
    text-decoration: underline;
}
hr {
    color: rgb(233,233,233);
}
.tagline {
    color: rgb(60,60,60);
}
li {
    padding: 5px    ;
}
